default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        types: [python]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: name-tests-test
        args: ['--django']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.1
    hooks:
      - id: bandit
        args: ['-iii', '-ll', '-s=B308,B703']
        additional_dependencies: ['pbr']

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120', '--extend-ignore=E203,F401,F403']

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: ['--line-length=120']

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '120']

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        exclude: (examples_usage|test_.*py|docs_rst)
        args: ['--ignore=D100,D101,D102,D103,D104,D107,D200,D202,D205,D400,D401']

# Notes:
# - Reduce ignored flake8 codes (F401,F403) once wildcard and unused imports are removed.
# - Reduce Black/isort line length back to 88 after refactoring long lines.
# - Remove docstring ignores incrementally to enforce documentation quality.
